body{
    background:url(http://m.qpic.cn/psb?/V10oUS9P2OTFaY/vsKOUYrvqE6qZ3LchsLaCtYg1MS9fSQX1OAKD5MCJTk!/b/dL8AAAAAAAAA&bo=aApABoANHAgRCYM!&rf=viewer_4);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    }
